body{
    background-color: rgb(0, 0, 0);
    padding: 100px 100px 100px 100px;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (max-Width:500px){
    .top, .nomC{
        width: 100%;
    }
}

.top{
    background-color: rgb(255, 0, 0);
    width: 40px;
    height: 365px;
    float: left;
    text-align: center;
    border-radius: 15px;
}

.nomC{
    background-color: rgb(255, 0, 0);
    float: right;
    width: 1080px;
    height: 365px;
    padding-left: 20px;
    text-align: left;
    border-radius: 15px;
}