body{
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(0, 255, 0);
}

@media screen and (max-Width:800px){
    .izquierda, .centro{
        width: 100%;
    }
}

.titulo{
    text-align: right;
    font-size: 20px;
    margin-bottom: 20px;
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}

.container {
  display: grid;
  grid-template-areas:
    'menu main main main main main main main main right';
  background-color: rgb(255, 255, 255);
  padding: 5px;
  gap: 5px;
  border-radius: 15px;
}

.container div {
  background-color: rgb(255, 255, 255);
  color:#000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  border-radius: 15px;
}

.item1 {grid-area: menu;}
.item2 {grid-area: main;}
.item3 {grid-area: right;}


/* .contenido-centro1{
    margin-top: 20px;
    margin-right: 300px;
    margin-bottom: 50px;
    margin-left: 40px;
    text-align: left;
    font-size: 30px;
    border: 2px dashed rgba(0, 255, 0, 0.8);
    border-radius: 12px;
    padding: 25px;
    border-style: dashed;
}
.contenido-centro2{
    margin-top: 25px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 30px;
    border: 2px solid rgb(0, 255, 0);
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 20px;
    border-style: solid;
}

h3{
    font-size: 25px;
    text-align: left;
    color: rgb(0, 0, 0);
} */