body {
    font-family: Arial, sans-serif;
    background-color: #d7ffc4;
    margin: 20px;
}

p {
    font-size: 18px;
    color: #333;
}

div {
    background-color: #a3bcff;
    padding: 3px;
    border-radius: 2px;
    display: inline-block;
    margin-top: 1px;
}